@import 'variables.styl'
// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700')

@font-face
  font-style normal
  font-family yekan
  src url('/fonts/yekan-regular.ttf')
@font-face
  font-style normal
  font-family yekan-light
  src url('/fonts/iranyekanweblight.ttf')
.font-roboto
  font-family Roboto !important
body
  background #f0f4f8
body.noscroll
  overflow hidden
.container
  margin-right auto
  margin-left auto
  padding-right 15px
  padding-bottom 90px
  padding-left 15px
  @media (min-width: 768px)
    width 750px
  @media (min-width: 1024px)
    width 970px
  @media (min-width: 1200px)
    width 1170px
li
  list-style none
p, h1, h2, h3, h6, button, span, a, li, label
  color white
  font-family yekan, sans-serif
.dash-container
  a, p, h1, h2, h4, h3, h6, li, span, label
    color #000
  h2
    padding-bottom 20px
    font-size 18px
    line-height 1.8
  .error-text
    color #ff2d55 !important
    span
      color #ff2d55 !important
  .pending-text
    color #296bdd !important
    span
      color #296bdd !important
  .success-text
    color #2cac46 !important
    span
      color #2cac46 !important
p, h6, button
  font-size font-small
p
  line-height 1.88
h1, h2
  font-size font-big
  line-height 1.8
a
  text-decoration none
input
  color #000
  font-size font-small
input, textarea
  &::placeholder
    color gray
    font-size font-small
    font-family yekan, sans-serif
.img-responsive
  width 100%
h2.title
  margin 0
  padding 20px 0
  color white
  text-align center
  font-size 30px
p.description
  text-align center
  font-size 18px
.no-padding
  padding 0
.inner-content
  padding 0 150px
.row-block
  display block
  margin-bottom 30px
.article
  box-sizing border-box
  padding 50px 100px
  min-height 500px
  width 100%
  border-radius 20px
  background #fff
  img
    width 100%
  h1, h2, h3
    line-height initial
  h1, h2, h3, h6, p
    padding-bottom 30px
    color #000
  h6
    padding-bottom 0
  a
    color #ff859e
.flex
  display flex
  align-items center
.flex-space
  display flex
  justify-content space-between
  align-items center
.centered-page
  justify-content center
  align-items center
  min-height 86vh
@media only screen and (max-width: 991px)
  .article
    padding 50px 30px
@media (max-width: 768px)
  .no-line-height
    line-height 1.8 !important
  .inner-content
    padding 0 15px
  input, input::placeholder
    font-size font-x-small
    font-family yekan, sans-serif
.font-bold
  font-weight bold
.fandogh-form-group
  position relative
  display block
  margin 0 0 45px 0
  &:first-of-type
    margin-top 0
  label
    padding-right 5px
    color #000
    font-size 14px
.center
  text-align center
.margin-5
  margin 5px
.margin-10
  margin 10px
.margin-20
  margin 20px
.margin-40
  margin 40px 0
.margin-top-50
  margin-top 50px
.margin-top-100
  margin-top 100px
.mb-45
  margin-bottom 45px
.80
  width 80%
.custom-row
  display flex
  justify-content space-between
  align-items center
.bounce-enter-active
  animation bounce-in 0.3s
.bounce-leave-active
  animation bounce-in 0.3s reverse
@keyframes bounce-in
  0%
    transform scale(0)
  50%
    transform scale(1.3)
  100%
    transform scale(1)
.btn-nuxt
  display inline-block
  text-align center
// *
// box-sizing border-box
.pr-120
  padding-right 120px
  @media only screen and (max-width: 1230px)
    padding-right 0
.pl-100
  padding-left 100px
  @media only screen and (max-width: 1230px)
    padding-left 0
.wrapper-col
  &:not(.is-small)
    padding 0 20px
    @media only screen and (max-width: 1230px)
      padding 0
[data-balloon]
  font-family yekan
  &:after
    font-family yekan !important
.mute-text
  color rgb(181, 181, 181) !important
  font-size 14px
.center-item
  align-items center
  width 100%
.w-100
  width 100%
.position-relative
  position relative
table.vgt-table td
  [data-balloon]
    &:after
      font-size 20px !important
      font-family robot !important
.space-image
  margin 0 5px
.mt-45
  margin-top 45px
.p-0
  padding 0