// colors
white = #fff
gray = #bcbcbc
gray-2 = #f8f9fc
gray-3 = #e6e9f2
// font sizes
font-big = 30px
font-small = 16px
font-x-small = 14px
// colot theme sample
// $blue = #007bff
// $indigo = #6610f2
// $purple = #6f42c1
// $pink = #e83e8c
// $red = #dc3545
// $orange = #fd7e14
// $yellow = #ffc107
// $green = #28a745
// $teal = #20c997
// $cyan = #17a2b8
// $white = #fff
// $gray-4 = #6c757d
// $primary = #007bff
// $secondary = #6c757d
// $success = #28a745
// $info = #17a2b8
// $warning = #ffc107
// $danger = #dc3545
// $light = #f8f9fa
// $dark = #343a40
$grayLight = #f0f0f0
$hoary = #fdfdfd
$silverDark = #333333
$greenDark = rgb(8, 99, 117)
// theme config
$widthSidebarOpen = 20em // (320 / $sizeEm) em
$widthSidebarClose = 5.25em // (84 / $sizeEm)em
$transitionMain = all 0.2s ease-in-out