.fandogh-input
  display inline-block
  box-sizing border-box
  padding 10px
  width 370px
  border none
  border-radius 4px
  background rgb(27, 0, 106, 0.8)
  color #fff
  font-weight normal
  font-size 14px
  font-family Roboto, sans-serif, yekan
  direction ltr

  &:focus
    outline none

.input-color-blue::-webkit-input-placeholder
  color #ECECEC
  text-align right

.input-color-blue:-moz-placeholder
  color #ECECEC
  text-align right

.input-color-blue::-moz-placeholder
  color #ECECEC
  text-align right

.input-color-blue:-ms-input-placeholder
  color #ECECEC
  text-align right

.input-white
  border solid 1px #e7e8ea
  background-color #ffffff
  color #000
  font-size 14px

.input-dashboard
  padding 15px
  border-radius 10px
  color #47494e

.input-dashboard::-webkit-input-placeholder
  text-align right
  font-size 12px

.input-dashboard:-moz-placeholder
  text-align right
  font-size 12px

.input-dashboard::-webkit-input-placeholder
  text-align right
  font-size 12px

.input-disable
  border 1px solid #b5b5b5
  background transparent
  color #4f4f4f
  text-align center
  font-size 14px
  font-family yekan
  pointer-events none
  direction rtl

.input-yekan
  font-family yekan

.input-rtl
  direction rtl

.input-checkbox-disable
  pointer-events none
  font-size 16px

  label
    font-size 14px
    font-family IRANYekan
    font-weight bold
    color gray


@media only screen and (max-width: 576px)
  .fandogh-input
    width 270px
    font-size 13px

.btn-input-block, .input-block
  width 100%

.input-label
  background transparent
  text-align center
  font-size 14px
  font-family yekan
  font-weight bold
  pointer-events none
  direction rtl
